page-home {

}

// div {
//   display: flex;
//   justify-content: center; /* align horizontal */
//   align-items: center; /* align vertical */
// }

ion-grid {
    height: 100%;
    justify-content: top;
    padding-top: 7em;
}

.home {
    //background-color:#ac2530;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nsfc-ca38e.appspot.com/o/kan.png?alt=media&token=b2875e7e-a227-489d-8d42-dfd4741fe4e9);
  //  background-color: red;
}


.be{

}
